/* PC */
@media (min-width: 992px){
.mobile-header{
    display: none;
}
}

/* Tablet & mobile */
@media (max-width: 991.98px){

   .container{
    width: 100%;
    min-width: 100%;
   }

    .nav{
        display: none;
    }

    .header-top{
       
        width: 100%;
        padding: 11px 20px;
        /* position: relative; */
        justify-content: end;
        z-index: 5;
        
    }

    .logo{
        position: absolute;
        transform: translate(-50% -50%);
        left: 50%;
    }

    /* ======================= menu mobile ====================== */
    .menu-header__icon{
        width: 24px;height: 24px;
        color: #fff;
        transform: translateY(-90%);
    }

    .menu-overlay{
        position: fixed;
        background: rgba(0, 0, 0, 0.3);
        inset: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 9;
    }

    .menu-drawer{
        position: fixed;
        inset: 0 40% 0 0;
        background-color: #1be5c0;
        transform: translate(-100%);
        transition: 0.5s;
        padding: 60px;
        z-index: 10;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
      }

    .menu-checkbox:checked ~ .menu-drawer{
        transform: translate(0);
    }

    .menu-drawer__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo__menu--mobile{
        display: flex;
    }

    .close__menu{
        height: 25px;width: 25px;
        color: #ffffff;
        
    }
    
    .navbar__list {
        margin-top: 25px;
        flex-direction: column;
      }

    #navbar__list--mobile{
        margin-top: 25px;
    }

    .navbar__item{
        font-size: 3rem;
        
    }

    .navbar__item a{
        color: #fff;
        font-weight: 500;
    }

    .show-on-mobile{
        display: none;
    }
    
    /* ===================================== hero ======================= */

    .hero{
        flex-direction: column-reverse;
    }

    .hero__content{
        width: 90%;
        text-align: center;
        margin-top: 50px;
    }

    .hero__action{
        justify-content: center;
    }

    /* ================= service ===================== */

    .service__row{
        flex-direction: column;
        align-items: center;
        
    }
    
    .service__list{
        width: 90%;
        margin-top: 30px;
    }

    .service__name{
        justify-content: center;
    }

    .service__btn--box{
        text-align: center;
    }

    /* ================== work ================== */
    .work__list{
        grid-template-columns: repeat(1, 1fr);

    }

    .work__item{
        width: 90%;
       margin: 0 auto;
       height: 100%;
    }

    /* =========== about =========== */
    .about__main{
        flex-direction: column;
    }
    
.about__image{
    text-align: center;
}

    .about__img--large{
        width: 90%;
        height: auto;
    }

    .about__img--small{
        display: none;
    }

    .about__content{
        margin-top: 30px;
        width: 90%;
        min-width: 90%;
        text-align: center;
    }

    /* .section__heading{
        width: 100%;
    } */

    

    /* ==================== our-teeam=============== */
    .our-team__list{
        grid-template-columns: repeat(2,1fr);
    }

    .our-team__item figure{
        display:block ;
        text-align: center
    }
/* =========== cta mobile ================= */
.ctamobile__image{
    display: none;
}

.ctamobile__body{
    justify-content: center;
    margin-top: 0;
}

/* ============ blog ============= */
.blog-main{
    flex-direction: column-reverse;
}

.blog__list{
    justify-content: center;
}

.blog__left{
    align-items: center;
    margin-top: 30px;
}

.blog{
    padding-bottom: 0;
    padding-top: 100px;
}

/*    ======================== Appointment================= */

}

/* Tablet  */
@media (min-width: 768px) and (max-width: 991.98px) {
    .menu-header__icon{
        transform: translateY(-190%);
    }
}

/* mobile */
@media (max-width: 767.98px){

    body{
        overflow-x: hidden;
    }

.show-on-mobile{
    display: block;
   list-style: none;
}

.separate{
    margin-top: 12px;
    border-top: 1.5px solid #fff
}

.menu-drawer{
    padding: 20px;
}

.header__action{
    display:none;
}

.hero__img--small{
    display: none;
}

.our-team__list{
    grid-template-columns: repeat(1,1fr);
}

.blog__list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog__heading{
    text-align: center;
}

.service{
    margin-top: 50px;
    padding-top: 100px;
}

.service__row{
    padding-bottom: 80px;
}

.appointment{
    margin-bottom: 0;
}

.footer__top{
    flex-direction: column;
    row-gap: 50px;
}

}
